{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %}{% if account %}{% trans "Activation complete" %}{% else %}{% trans "Activation problem" %}{% endif %}{% endblock %}
{% block content %}
{% url 'auth_login' as auth_login_url %}
{% if account %}
{% blocktrans %}
Gracias, Ahora puede{{ account }}, activacion completa!
 Ahora puede <a href='{{ auth_login_url }}'>Iniciar sesion</a> Utilizando el nombre de usuario y la contraseña que estableció al registrarse.
{% endblocktrans %}
{% else %}
{% blocktrans %}Oops &ndash; Parece que su clave de activación no es válida. Compruebe la url de nuevo.{% endblocktrans %}
{% endif %}
{% endblock %}
