{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %}{% trans "Cambiar contraseña" %}{% endblock %}
{% block content %}{% blocktrans %}
¿Olvidaste tu contraseña? Ingrese su correo electrónico en el siguiente formulario y le enviaremos
Instrucciones para crear una nueva.{% endblocktrans %}
<form method='post' action=''>{% csrf_token %}
<table>
    {{ form }}
    <tr><td></td><td><input type='submit' value="{% trans "Cambiar constrasena"  %}" /></td></tr>
</table>
</form>
{% endblock %}
