<!DOCTYPE html>
<html lang="en">

    <head>

      <title>Eje Turismo - Modificar perfil</title>

      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>EJE TURISMO</title>
      {% load staticfiles %}
      <!-- CSS -->
      <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
      <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/form-elements.css' %}">
      <link rel="stylesheet" href="{% static 'css/style.css' %}">

      <!-- Favicon and touch icons -->
      <link rel="shortcut icon" href="{% static 'ico/favicon.png' %}">
      <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'ico/apple-touch-icon-144-precomposed.png' %}">
      <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'ico/apple-touch-icon-114-precomposed.png' %}">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'ico/apple-touch-icon-72-precomposed.png' %}">
      <link rel="apple-touch-icon-precomposed" href="{% static 'ico/apple-touch-icon-57-precomposed.png' %}">

    </head>

    <body>
        {% if error.0 %}
          <div class="alert alert-danger">{{error.1}}</div>
        {% endif %}

        {% if exito.0 %}
          <div class="alert alert-success">{{exito.1}}</div>
        {% endif %}
        <!-- Top content -->
        <div class="top-content">

            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong>Eje</strong> Turismo</h1>
                            <a class="btn btn-default" href="/administrador" role="button">VOLVER</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>Modifica tu perfil</h3>
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-key"></i>
                        		</div>
                          </div>
                          <div>
                          <form method="post" enctype="multipart/form-data">{% csrf_token %}
                            <div class="form-bottom">
                              <div>
                                <P ALIGN=center>Nombre</P>
                                <div class="form-group">
                                    <input type="text" name="nombre" value="{{nombre}}" id="nombre" placeholder="Ingrese su nombre" class="form-user form-control">
                                </div>
                              </div>

                              <div>
                                <P ALIGN=center>Apellidos</P>
                                <div class="form-group">
                                    <input type="text" name="apellido" value="{{apellido}}" id="apellido" placeholder="Ingrese sus apellidos" class="form-user form-control">
                                </div>
                              </div>

                              <div>
                                <P ALIGN=center>DNI</P>
                                <div class="form-group">
                                    <input type="text" name="dni" value="{{dni}}" id="dni" placeholder="Ingrese su dni" class="form-user form-control">
                                </div>
                              </div>

                              <div>
                                <P ALIGN=center>Género</P>
                                <div class="form-group">
                                    <input type="text" name="genero" value="{{genero}}" id="genero" placeholder="Ingrese su género (hombre, mujer)" class="form-user form-control">
                                </div>
                              </div>

                              <div>
                                <P ALIGN=center>Dirección</P>
                                <div class="form-group">
                                    <input type="text" name="direccion" value="{{direccion}}" id="direccion" placeholder="Ingrese su dirección" class="form-user form-control">
                                </div>
                              </div>

                              <div>
                                <P ALIGN=center>Teléfono</P>
                                <div class="form-group">
                                    <input type="text" name="telefono" value="{{telefono}}" id="telefono" placeholder="Ingrese su telefono" class="form-user form-control">
                                </div>
                              </div>

                              <div>
                                <P ALIGN=center>Email</P>
                                <div class="form-group">
                                    <input type="text" name="email" value="{{email}}" id="email" placeholder="Ingrese su correo electrónico" class="form-user form-control">
                                </div>
                              </div>

                              <div>
                                <P ALIGN=center>Ciudad</P>
                                <div class="form-group">
                                    <input type="text" name="ciudad" value="{{ciudad}}" id="ciudad" placeholder="Ingrese su ciudad" class="form-user form-control">
                                </div>
                              </div>

                              <div>
                                <P ALIGN=center>País</P>
                                <div class="form-group">
                                    <input type="text" name="pais" value="{{pais}}" id="pais" placeholder="Ingrese su país" class="form-user form-control">
                                </div>
                              </div>

                              <div>
                                <P ALIGN=center>Municipio</P>
                                <div class="form-group">
                                    <input type="text" name="municipio" value="{{municipio}}" id="municipio" placeholder="Ingrese el municipio (Usuario administrador)" class="form-user form-control">
                                </div>
                              </div>
                            </div>

                              <div class="row">
                                <div class="social-login-buttons">
                                  <button class="btn btn-link-1 btn-link-1-twitter" type="submit" name="btn_administrador">Guardar</button>
                                </div>
                              </div>

                            </form>
                          </div>
		                    </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/jquery.backstretch.min.js' %}"></script>

        <script type="text/javascript">

          $(document).ready(function() {
              $.backstretch("{% static 'img/backgrounds/1.jpg' %}");
              $('.login-form input[type="text"], .login-form input[type="password"], .login-form textarea').on('focus', function() {
                $(this).removeClass('input-error');
              });

              $('.login-form').on('submit', function(e) {

                $(this).find('input[type="text"], input[type="password"], textarea').each(function(){
                  if( $(this).val() == "" ) {
                    e.preventDefault();
                    $(this).addClass('input-error');
                  }
                  else {
                    $(this).removeClass('input-error');
                  }
                });

              });


          });

        </script>

    </body>

</html>
